<html>
<head>
</head>

<body>
  <table>
    <tr valign="top">
      <td><img src="{{ post.author.avatar(36) }}"></td>
      <td>
        <div class="rectangle5">
        <a href="{{ url_for('user', username=post.author.username) }}">
          <font size="4"> {{post.author.username}}</font>
          <font size="2"> posted at: {{post.timestamp}}</font>
        </a>
        says: <br> {{post.body }}
      </div>
      <hr>
      </td>
      <td>
    </td>
  </tr>
  <tr>
    <td>
        <a href ="{{ url_for('comments', post_id=post.id)}}">Comments</a>
    </td>
  </tr>
  </table>
</body>
