<html>
<head>
</head>

<body>
  <table>
    <tr valign="top">
      <td></td>
      <td>
        <div class="rectangle5">
        <img src="{{ post.author.avatar(36) }}">
        <a href="{{ url_for('user', username=post.author.username) }}">
        <font size="4">  {{ post.author.username }}</font>
        </a>
        <font size="2"> posted at: {{(post.timestamp)}}</font>
        <hr>
        says: <br> {{post.body }}
      </div>
      <br>
      <br>
      <p><button class="different"><a href ="{{ url_for('comments', post_id=post.id)}}">  <img width="40" height="" src="{{ url_for('static', filename="pictures/comment.png")  }}" alt="Nature"></a></button>
      {% if current_user.is_liked(post) %}
       <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}"><img width="40" height="" src="{{ url_for('static', filename="pictures/like.jpg")  }}" alt="Nature"></a>
      {% else %}
      <a href="{{ url_for('like_action', post_id=post.id, action='like') }}"><img width="40" height="" src="{{ url_for('static', filename="pictures/like.jpg")  }}" alt="Nature"></a>
      {% endif %}
      {% if ((current_user.username == post.author.username  or current_user.username == "U9601")) %}
      <a href="{{ url_for('delete_post', post_id=post.id) }}"><img width="40" height="" src="{{ url_for('static', filename="pictures/delete.png")  }}" alt="Nature"></a></p>
      {% endif %}
      <p> <b>{{ post.likes.count() }} likes</b></p>
      </td>
      <td>
    </td>
  </tr>
  <tr>
  </tr>
  </table>
</body>
