<html>
<head>
</head>

<body>
  <table>
    <tr valign="top">
      <td></td>
      <td>
        <div class="rectangle5">
        <img src="{{ post.author.avatar(36) }}">
        <a href="{{ url_for('user', username=post.author.username) }}">
          {{ post.author.username }}
        </a>
        says: <br> {{post.body }}
        <a href ="{{ url_for('comments', post_id=post.id)}}" style="margin-top:100px">Comments</a>
      </div>
      </td>
      <td>
    </td>
  </tr>
  <tr>
  </tr>
  </table>
</body>
