<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form method="post" action="{{url_for('comments', post_id=post_id)}}">
    {{ commentform.hidden_tag() }}
    <p>
      {{ commentform.comment.label }}<br>
      {{ commentform.comment(col=32, rows=4) }}<br>
      {% for error in commentform.comment.errors %}
      <span style="color:red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p> {{commentform.submit() }}</p>
  </form>

  {% for comment in post.comments %}
    <h4> {{comment.body}}</h4>
  {% endfor %}
</body>
</html>
