<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{{ url_for('static',filename='pictures/favicon.ico') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/popup.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title> HLTV - News</title>
<div class="topnav">
  <a class="active" href="/">News</a>
  <a href="/matches">Matches</a>
  <a href="/results">Results</a>
  <a href="/top20teams"> Top 20 Teams</a>
  <a href="/forum">Forum</a>
  <a onclick="document.getElementById('modal-wrapper').style.display='block'">Sign in</a>
  {% block content %}
  {% if user == current_user.username %}
  {% else %}
  <a href="{{ url_for('user', username=current_user.username) }}"> Profile</a>
    <a href="{{ url_for('messages') }}">
        {{_('Messages')}}
        {% set new_messages = current_user.new_messages() %}
        <span id="message_count" class="badge"
                style="visibility: {% if new_messages %}visible
                                    {% else %}hidden {% endif %};">
                {{new_messages}}
        </span>
    </a>
  <a href="{{ url_for('logout') }}">Logout</a>
  {% endif %}
  {% endblock %}
  <div class="search-container">
    <form action="/action_page.php">
      <input class="different2" type="text" placeholder="Search.." name="search">
      <button class="different" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
{% block scripts %}
  <script>
    function set_message_count(n){
      $('#message_count').text(n);
      $('#message_count').css('visibility', n ? 'visible' : 'hidden');
    }

  {% if current_user.is_authenticated %}
   $(function() {
       var since = 0;
       setInterval(function() {
           $.ajax('{{ url_for('notifications') }}?since=' + since).done(
               function(notifications) {
                   for (var i = 0; i < notifications.length; i++) {
                       if (notifications[i].name == 'unread_message_count')
                           set_message_count(notifications[i].data);
                       since = notifications[i].timestamp;
                   }
               }
           );
       }, 10000);
   });
   {% endif %}
  </script>
{% endblock %}
</head>

<body>


  <div id="modal-wrapper" class="modal">
    <form class="modal-content animate" action="" method="POST" novalidate>
      {{ form.hidden_tag() }}
      <div class="imgcontainer">
        <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
        <img src="{{ url_for('static',filename='pictures/favicon.ico') }}" alt="Avatar" class="avatar">
      </div>
      <div class="button">
        <div class="container">
          <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <button>{{ form.submit() }}</button>
    </form>
    <form method="GET" action="/register">
      <button>Register</button>
    </form>
    <input type="checkbox" style="margin:26px 30px;"> Remember me
    <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
  </div>

  </div>


  </div>
  <script>
    // If user clicks anywhere outside of the modal, Modal will close

    var modal = document.getElementById('modal-wrapper');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
  <div class="row">
    <div class="column">
      <img class="dImg" width="250" height="100" src={{ url_for('static', filename="pictures/Hltvlogo.png")  }}>
    </div>
    <div class="column">
      <h3> Matches </h3>
      <h4> 20/11/2018</h4>
      {% for o in output20th %}
      <div class="rectangle2">
        <p>
          {% if ((o["team"] == "HAVU" and o["team2"] == "Red Reserve")) %}
          <a href="/matchdetails/havuvsrr" style="text-decoration:none">
            <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/HAVU.png")  }}> {{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/RR.png")  }}>
            {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
            <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "Sprout" and o["team2"] == "LDLC")) %}
        <a href="/matchdetails/sproutvsldlc2" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/sprout.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/LDLC.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "Quesco" and o["team2"] == "forZe")) %}
        <a href="/matchdetails/quescovsforze" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/hltvquestion.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/forze.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "Windigo Academy" and o["team2"] == "Smoke Criminals")) %}
        <a href="/matchdetails/windigoavssmoke" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/windigo.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/hltvquestion.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "FCDB" and o["team2"] == "Windigo")) %}
        <a href="/matchdetails/fcdbvswindigo" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/fcdb.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/windigo.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "3DMAX" and o["team2"] == "ALTERNATE aTTaX")) %}
        <a href="/matchdetails/3dmaxvsalternate" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/windigo.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/alternate.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "Tricked" and o["team2"] == "Vexed")) %}
        <a href="/matchdetails/trickedvsvexed" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/tricked.jpg")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/vexed.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "Isurus" and o["team2"] == "Uruguay")) %}
        <a href="/matchdetails/isurusvsuruguay" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/isurus.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/hltvquestion.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "Wild" and o["team2"] == "Isurus")) %}
        <a href="/matchdetails/wildvsisurus" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/wild.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/isurus.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      {% endif %}
      {% endfor %}
      <h4> 21/11/2018</h4>
      {% for o in output21st %}
      <div class="rectangle2">
        {% if ((o["team"] == "W7M" and o["team2"] == "FURIA inagame")) %}
        <a href="/matchdetails/w7mvsfuria" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/w7m.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/furiainagame.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "EURONICS" and o["team2"] == "Tricked")) %}
        <a href="/matchdetails/euronicsvstricked" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/euronics.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/tricked.jpg")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      <div class="rectangle2">
        {% elif ((o["team"] == "HAVU" and o["team2"] == "x6tence Galaxy")) %}
        <a href="/matchdetails/havuvsex6tence" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/HAVU.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/x6galaxy.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      {% endif %}
      {% endfor %}
      <h4> 22/11/2018</h4>
      {% for o in output22nd %}
      <div class="rectangle2">
        {% if ((o["team"] == "Astralis" and o["team2"] == "Cloud9")) %}
        <a href="/matchdetails/astvsc9" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/astralislogo.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/c9.jpg")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "Vexed" and o["team2"] == "Valiance")) %}
        <a href="/matchdetails/vexedvsvaliance" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/vexed.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/valiance.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "mousesports" and o["team2"] == "MIBR")) %}
        <a href="/matchdetails/mouzvsmibr" style="text-decoration:none">
        <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/mouzlogo.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/MIBR.png")  }}>
        {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
        <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "NRG" and o["team2"] == "NiP")) %}
        <a href="/matchdetails/nrgvsnip" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/NRG.jpg")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/nip.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "Liquid" and o["team2"] == "North")) %}
        <a href="/matchdetails/liquidvsnorth" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/liquidlogo.jpg")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/North.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "ECS S6 Finals - Group A Winners Match" and o["team2"] == "tba")) %}
        <a href="/matchdetails/ecsgroupawinner" style="text-decoration:none">
          <b>{{ o["time"] }}</b>
          <center>{{o["team"]}} {{ o["bo"] }}</center>
          <hr>
      </div>
      </a>
      {% endif %}
      {% endfor %}
      <h4> 23/11/2018</h4>
      {% for o in output23rd %}
      <div class="rectangle2">
        {% if ((o["team"] == "ECS S6 Finals - Group B Winners Match" and o["team2"] == "tba")) %}
        <a href="/matchdetails/ecsgroupbwinner" style="text-decoration:none">
          <b>{{ o["time"] }}</b>
          <center>{{o["team"]}} {{ o["bo"] }}</center>
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "ECS S6 Finals - Group A Elimination Match" and o["team2"] == "tba")) %}
        <a href="/matchdetails/ecsgroupaelim" style="text-decoration:none">
          <b>{{ o["time"] }}</b>
          <center>{{o["team"]}} {{ o["bo"] }}</center>
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "expert" and o["team2"] == "LDLC")) %}
        <a href="/matchdetails/expertvsldlc" style="text-decoration:none">
          <b>{{ o["time"] }}</b><img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/expert.png")  }}>{{o["team"]}} vs <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/LDLC.png")  }}>
          {{o["team2"]}} {{o["event"]}} {{ o["bo"] }}
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "ECS S6 Finals - Group B Elimination Match" and o["team2"] == "tba")) %}
        <a href="/matchdetails/ecsgroupbelim" style="text-decoration:none">
          <b>{{ o["time"] }}</b>
          <center>{{o["team"]}} {{ o["bo"] }}</center>
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "ECS S6 Finals - Group B Decider Match" and o["team2"] == "tba")) %}
        <a href="/matchdetails/ecsgroupbdecider" style="text-decoration:none">
          <b>{{ o["time"] }}</b>
          <center>{{o["team"]}} {{ o["bo"] }}</center>
          <hr>
      </div>
      </a>
      {% endif %}
      {% endfor %}
      <h4> 24/11/2018</h4>
      {% for o in output24th %}
      <div class="rectangle2">
        {% if ((o["team"] == "ECS S6 Finals - Semi-final #1" and o["team2"] == "tba")) %}
        <a href="/matchdetails/ecssemifinal1" style="text-decoration:none">
          <b>{{ o["time"] }}</b>
          <center>{{o["team"]}} {{ o["bo"] }}</center>
          <hr>
      </div>
      </a>
      <div class="rectangle2">
        {% elif ((o["team"] == "ECS S6 Finals - Semi-final #2" and o["team2"] == "tba")) %}
        <a href="/matchdetails/ecssemifinal2" style="text-decoration:none">
          <b>{{ o["time"] }}</b>
          <center>{{o["team"]}} {{ o["bo"] }}</center>
          <hr>
      </div>
      </a>
      {% endif %}
      {% endfor %}
      <h4> 25/11/2018</h4>
      {% for o in output25th %}
      <div class="rectangle2">
        {% if ((o["team"] == "ECS S6 Finals - Grand final" and o["team2"] == "tba")) %}
        <a href="/matchdetails/ecsgrandfinal" style="text-decoration:none">
        <b>{{ o["time"] }}</b>
        <center>{{o["team"]}} {{ o["bo"] }}</center>
        <hr>
      </div>
    </a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="column">
    </div>
  </div>


</body>

</html>
