<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ url_for('static',filename='pictures/favicon.ico') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/popup.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title> HLTV - News</title>
  <div class="topnav">
    <a class="active" href="/">News</a>
    <a href="/matches">Matches</a>
    <a href="/results">Results</a>
    <a href="/top20teams"> Top 20 Teams</a>
    <a href="/forum">Forum</a>
    <a onclick="document.getElementById('modal-wrapper').style.display='block'">Sign in</a>
    {% block content %}
    {% if user == current_user.username %}
    {% else %}
    <a href="{{ url_for('user', username=current_user.username) }}"> Profile</a>
      <a href="{{ url_for('messages') }}">
          {{_('Messages')}}
          {% set new_messages = current_user.new_messages() %}
          <span id="message_count" class="badge"
                  style="visibility: {% if new_messages %}visible
                                      {% else %}hidden {% endif %};">
                  {{new_messages}}
          </span>
      </a>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    {% endblock %}
    <div class="search-container">
      <form action="/action_page.php">
        <input class="different2" type="text" placeholder="Search.." name="search">
        <button class="different" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  {% block scripts %}
    <script>
      function set_message_count(n){
        $('#message_count').text(n);
        $('#message_count').css('visibility', n ? 'visible' : 'hidden');
      }

    {% if current_user.is_authenticated %}
     $(function() {
         var since = 0;
         setInterval(function() {
             $.ajax('{{ url_for('notifications') }}?since=' + since).done(
                 function(notifications) {
                     for (var i = 0; i < notifications.length; i++) {
                         if (notifications[i].name == 'unread_message_count')
                             set_message_count(notifications[i].data);
                         since = notifications[i].timestamp;
                     }
                 }
             );
         }, 10000);
     });
     {% endif %}
    </script>
  {% endblock %}
  </head>

<body>


  <div id="modal-wrapper" class="modal">
    <form class="modal-content animate" action="" method="POST" novalidate>
      {{ form.hidden_tag() }}
      <div class="imgcontainer">
        <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
        <img src="{{ url_for('static',filename='pictures/favicon.ico') }}" alt="Avatar" class="avatar">
      </div>
      <div class="button">
        <div class="container">
          <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <button>{{ form.submit() }}</button>
          <p>
            Forgot Your Password?
            <a href="{{ url_for('reset_password_request')}}"> Click to Reset It</a>
          </p>
    </form>
    <form method="GET" action="/register">
      <button>Register</button>
    </form>
  </div>

  </div>
  </div>

  <script>
    // If user clicks anywhere outside of the modal, Modal will close

    var modal = document.getElementById('modal-wrapper');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
  {% if name == "HAVUvsRR" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>14:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>HAVU &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Red Reserve</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 2</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "SproutvsLDLC" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>16:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>Sprout &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;LDLC</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 2</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "QuescovsforZe" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>16:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>Quesco &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;forZe</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
  <div class="twitchbox">
    <div id="twitch-embed"></div>
    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 854,
        height: 480,
        channel: "plg"
      });
    </script>
  </div>
</td>
</tr>
</table>
  {% elif name == "WindigoAvsSmoke" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>16:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>PLG Grand Slam 2018</h3>
        </center>
        <h2 align=left>Windigo Academy &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Smoke</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "plg"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "FCBDvsWindigo" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>16:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>PLG Grand Slam 2018</h3>
        </center>
        <h2 align=left>FCDB &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Windigo</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "uccacademy"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "3DMAXvsAlternate" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>16:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>NoxFire League/h3>
          </center>
          <h2 align=left>3DMAX &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;ALTERNATE aTTaX</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "gameagents"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "TrickedvsVexed" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>18:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>Tricked &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Vexed</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 2</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "IsurusvsUruguay" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>21:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>WESG 2018 East Europe</h3>
        </center>
        <h2 align=left>Isurus &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Uruguay</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "debionesports"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "SproutvsLDLC2" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>16:00</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>Sprout &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;LDLC</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 2</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <br>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "WildvsIsurus" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>23:50</h1>
        </b>
        <h4>20th of November 2018</h4>
        <h3>Alienware Liga Pro Gamers Club</h3>
        </center>
        <h2 align=left>Wild &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Isurus</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 2</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "gamersclubcs"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "W7MvFURIA" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>01:00</h1>
        </b>
        <h4>21th of November 2018</h4>
        <h3>Alienware Liga Pro Gamers Club</h3>
        </center>
        <h2 align=left>W7M &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;FURIA inagame</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of tba</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "EURONICSvsTricked" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>14:00</h1>
        </b>
        <h4>21th of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>EURONICS &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Tricked</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of tba</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "HAVUvsx6tence" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>18:00</h1>
        </b>
        <h4>21th of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>HAVU &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;x6tence</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of tba</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "AstvsC9" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>15:00</h1>
        </b>
        <h4>22nd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>Astralis &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Cloud9</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of tba</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "VexedvsValiance" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>16:00</h1>
        </b>
        <h4>22nd of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>Vexed &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Valiance</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 2</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "MouzvsMIBR" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>16:30</h1>
        </b>
        <h4>22nd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>Mousesports &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;MIBR</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 1</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "NRGvsNIP" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>18:00</h1>
        </b>
        <h4>22nd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>NRG &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;NIP</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 1</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "LiquidvsNorth" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>19:30</h1>
        </b>
        <h4>22nd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>Liquid &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;North</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 1</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ECSGroupAWinner" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>21:00</h1>
        </b>
        <h4>22nd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>tba &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;tba</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 1</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ECSGroupBWinner" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>00:00</h1>
        </b>
        <h4>23rd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>tba &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;tba</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ECSGroupAElim" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>15:00</h1>
        </b>
        <h4>23rd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>tba &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;tba</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ExpertvsLDLC" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>14:00</h1>
        </b>
        <h4>23rd of November 2018</h4>
        <h3>United Masters League</h3>
        </center>
        <h2 align=left>Expert &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;LDLC</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 2</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <div id="twitch-embed"></div>
          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
          <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
              width: 854,
              height: 480,
              channel: "um_league"
            });
          </script>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ECSGroupBElim" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>18:00</h1>
        </b>
        <h4>23rd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>tba &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;tba</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ECSGroupBDecider" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>23:30</h1>
        </b>
        <h4>23rd of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>tba &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;tba</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ECSSemiFinal#1" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>18:00</h1>
        </b>
        <h4>24th of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>tba &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;tba</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ECSSemiFinal#2" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>21:00</h1>
        </b>
        <h4>24th of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>tba &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;tba</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% elif name == "ECSGrandFinal" %}
  <div class="matchinfo">
    <div class="container2">
      <img class="dImg" width="850" height="250" src={{ url_for('static', filename="pictures/background .jpeg")  }}>
      <div class="centered"><b>
          <h1>21:00</h1>
        </b>
        <h4>25th of November 2018</h4>
        <h3>ECS Season 6 Finals</h3>
        </center>
        <h2 align=left>tba &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;tba</h2>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="mapinfo">
          <h3> Maps </h3>
          <hr>
          <h4> Best of 3</h4>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
          <div class="container2">
            <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
            <div class="centered"><b>TBA</b></div>
          </div>
        </div>
      </td>
      <td>
        <div class="twitchbox">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gUSEwFPEp3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </td>
    </tr>
  </table>
  {% endif %}


</body>

</html>
