<!DOCTYPE html>
<html>
<head>
  <head>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="shortcut icon"  href="{{ url_for('static',filename='pictures/favicon.ico') }}"/>
      <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
      <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/popup.css') }}">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <title> HLTV - News</title>
      <div class="topnav">
        <a class="active" href="/">News</a>
        <a href="/matches">Matches</a>
        <a href="/results">Results</a>
        <a href="/top20teams"> Top 20 Teams</a>
        <a href="/forum">Forum</a>
        <a onclick="document.getElementById('modal-wrapper').style.display='block'">Sign in</a>
        {% block content %}
        {% if user == current_user.username %}
        {% else %}
        <a href ="{{ url_for('dashboard') }}"> dashboard </a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        <div class="search-container">
          <form action="/action_page.php">
            <input class="different2" type="text" placeholder="Search.." name="search">
            <button class="different" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
</head>
<body>


    <div id="modal-wrapper" class="modal">
      <form class="modal-content animate" action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="imgcontainer">
          <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
          <img src="{{ url_for('static',filename='pictures/favicon.ico') }}" alt="Avatar" class="avatar">
        </div>
        <div class="button">
          <div class="container">
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </p>
              <p>
                  {{ form.password.label }}<br>
                  {{ form.password(size=32) }}<br>
                  {% for error in form.password.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
              <button>{{ form.submit() }}</button>
              <p>
                Forgot Your Password?
                <a href = "{{ url_for('reset_password_request')}}"> Click to Reset It</a>
              </p>
          </form>
          <form method="GET" action="/register">
            <button>Register</button>
          </form>
          </div>

      </div>
    </div>

<script>
    // If user clicks anywhere outside of the modal, Modal will close

    var modal = document.getElementById('modal-wrapper');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
  <div class="row">
    <div class="column">
      <h3> Maps </h3>
      <hr>
      <h4> Best of 2</h4>
      <div class="container">
        <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
        <div class="centered"><b>TBA</b></div>
      </div>
      <br>
      <div class="container">
        <img class="dImg" width="300" height="50" src={{ url_for('static', filename="pictures/tba.png")  }}>
        <div class="centered"><b>TBA</b></div>
      </div>
    </div>
    <div class="column">
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
          width: 854,
          height: 480,
          channel: "um_league"
        });
      </script>
    </div>
    <div class="column">
      {% if name == "HAVUvsRR" %}
      <h3> Watch></h3>
      <button src= "https://embed.twitch.tv/embed/v1.js">click</button>
      <!-- Add a placeholder for the Twitch embed -->
        <div id="twitch-embed"></div>

      <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
      {% elif name == "SproutvsLDLC" %}
      {% elif name == "QuescovsforZe" %}
      {% elif name == "WindigoAvsSmoke" %}
      {% elif name == "FCDBvsWindigo" %}
      {% elif name == "3DMAXvsAlternate" %}
      {% elif name == "TrickedvsVexed" %}
      {% elif name == "IsurusvsUruguay" %}
      {% elif name == "SproutvsLDLC2" %}
      {% elif name == "WildvsIsurus" %}
      {% elif name == "W7MvFURIA" %}
      {% elif name == "EURONICSvsTricked" %}
      {% elif name == "HAVUvsx6tence" %}
      {% elif name == "AstvsC9" %}
      {% elif name == "VexedvsValiance" %}
      {% elif name == "MouzvsMIBR" %}
      {% elif name == "NRGvsNIP" %}
      {% elif name == "LiquidvsNorth" %}
      {% elif name == "ECSGroupAWinner" %}
      {% elif name == "ECSGroupBWinner" %}
      {% elif name == "ECSGroupAElim" %}
      {% elif name == "ExpertvsLDLC" %}
      {% elif name == "ECSGroupBElim" %}
      {% elif name == "ECSGroupBDecider" %}
      {% elif name == "ECSSemiFinal#1" %}
      {% elif name == "ECSSemiFinal#2" %}
      {% elif name == "ECSGrandFinal" %}
      {% endif %}
    {% endblock %}

    </div>
  </div>

</body>
</html>
