<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon"  href="{{ url_for('static',filename='pictures/favicon.ico') }}"/>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title> HLTV - News</title>
    <div class="topnav">
      <a class="active" href="/">News</a>
      <a href="/matches">Matches</a>
      <a href="/results">Results</a>
      <a href="/forum">Fourm</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
          <a href="/login">Sign in</a>
        </form>
      </div>
    </div>
    <body background="{{ url_for('static',filename='pictures/favicon.ico') }}"/>

    <h1 style="text-align:center; font-size:50px; color:#fff">Modal Popup Box Login Form</h1>

    <button onclick="document.getElementById('modal-wrapper').style.display='block'" style="width:200px; margin-top:200px; margin-left:160px;">
    Open Popup</button>

    <div id="modal-wrapper" class="modal">

      <form class="modal-content animate" action="/action_page.php">

        <div class="imgcontainer">
          <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
          <img src="1.png" alt="Avatar" class="avatar">
          <h1 style="text-align:center">Modal Popup Box</h1>
        </div>

        <div class="container">
          <input type="text" placeholder="Enter Username" name="uname">
          <input type="password" placeholder="Enter Password" name="psw">
          <button type="submit">Login</button>
          <input type="checkbox" style="margin:26px 30px;"> Remember me
          <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
        </div>

      </form>

    </div>
    <script>
    // If user clicks anywhere outside of the modal, Modal will close

    var modal = document.getElementById('modal-wrapper');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>

</head>
<body>
</body>
</html>
