<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ url_for('static',filename='pictures/favicon.ico') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/popup.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title> HLTV - News</title>
  <div class="topnav">
    <a class="active" href="/">News</a>
    <a href="/matches">Matches</a>
    <a href="/results">Results</a>
    <a href="/top20teams"> Top 20 Teams</a>
    <a href="/forum">Forum</a>
    <a onclick="document.getElementById('modal-wrapper').style.display='block'">Sign in</a>
    {% block content %}
    {% if user == current_user.username %}
    {% else %}
    <a href="{{ url_for('user', username=current_user.username) }}"> Profile</a>
      <a href="{{ url_for('messages') }}">
          {{_('Messages')}}
          {% set new_messages = current_user.new_messages() %}
          <span id="message_count" class="badge"
                  style="visibility: {% if new_messages %}visible
                                      {% else %}hidden {% endif %};">
                  {{new_messages}}
          </span>
      </a>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    {% endblock %}
    <div class="search-container">
      <form action="/action_page.php">
        <input class="different2" type="text" placeholder="Search.." name="search">
        <button class="different" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  {% block scripts %}
    <script>
      function set_message_count(n){
        $('#message_count').text(n);
        $('#message_count').css('visibility', n ? 'visible' : 'hidden');
      }

    {% if current_user.is_authenticated %}
     $(function() {
         var since = 0;
         setInterval(function() {
             $.ajax('{{ url_for('notifications') }}?since=' + since).done(
                 function(notifications) {
                     for (var i = 0; i < notifications.length; i++) {
                         if (notifications[i].name == 'unread_message_count')
                             set_message_count(notifications[i].data);
                         since = notifications[i].timestamp;
                     }
                 }
             );
         }, 10000);
     });
     {% endif %}
    </script>
  {% endblock %}
</head>
<body>

  <div id="modal-wrapper" class="modal">
  <form class="modal-content animate" action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="imgcontainer">
      <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
      <img src="{{ url_for('static',filename='pictures/favicon.ico') }}" alt="Avatar" class="avatar">
    </div>
    <div class="button">
      <div class="container">
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
              {{ form.password.label }}<br>
              {{ form.password(size=32) }}<br>
              {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <button>{{ form.submit() }}</button>
      </form>
      <form method="GET" action="/register">
        <button>Register</button>
      </form>
        <input type="checkbox" style="margin:26px 30px;"> Remember me
        <a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
      </div>

  </div>


  </div>
  <script>
  // If user clicks anywhere outside of the modal, Modal will close

  var modal = document.getElementById('modal-wrapper');
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }

}
  </script>
  <div class="row">
    <div class="column">
      <img class="dImg" width="250" height="100" src={{ url_for('static', filename="pictures/Hltvlogo.png")  }}>
    </div>
    <div class="column">
      <h3> Top 20 teams </h3>
      {% for o in output %}
      <p>
        {% if o["team"] == "FaZe" %}
          {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/fazelogo.png")  }}> ({{ o["points"] }} points)
          {% for p in o["players"] %}
          <hr>
          <p>
            <div class="rectangle">
              <table>
                <tr>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/karrigan.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/olofmeister.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/Guardian.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/NIKO.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/rain.jpeg")  }}></th>
                </tr>
                <tr>
                  <th>{{p["one"]}}</th>
                  <th>{{p["two"]}}</th>
                  <th>{{p["three"]}}</th>
                  <th>{{p["four"]}}</th>
                  <th>{{p["five"]}}</th>
                </tr>
              </table>
           </div>
         </p>
        {% endfor %}
        {% elif o["team"] == "Liquid" %}
          {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/liquidlogo.jpg")  }}> ({{ o["points"] }} points)
          {% for p in o["players"] %}
          <hr>
          <p>
            <div class="rectangle">
              <table>
                <tr>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/nitro0.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/NAF.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/Elige.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/Taco.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/Twistzz.jpeg")  }}></th>
                </tr>
                <tr>
                  <th>{{p["one"]}}</th>
                  <th>{{p["two"]}}</th>
                  <th>{{p["three"]}}</th>
                  <th>{{p["four"]}}</th>
                  <th>{{p["five"]}}</th>
                </tr>
              </table>
           </div>
          </p>
          {% endfor %}
        {% elif o["team"] == "Natus Vincere" %}
          {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/Navilogo.png")  }}> ({{ o["points"] }} points)
          {% for p in o["players"] %}
          <hr>
          <p>
            <div class="rectangle">
              <table>
                <tr>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/Edward.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/Zeus.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/flame.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/s1mple.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/electronic.jpeg")  }}></th>
                </tr>
                <tr>
                  <th>{{p["one"]}}</th>
                  <th>{{p["two"]}}</th>
                  <th>{{p["three"]}}</th>
                  <th>{{p["four"]}}</th>
                  <th>{{p["five"]}}</th>
                </tr>
              </table>
           </div>
         </p>
          {% endfor %}
        {% elif o["team"] == "Astralis" %}
          {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/astralislogo.png")  }}> ({{ o["points"] }} points)
          {% for p in o["players"] %}
          <hr>
          <p>
            <div class="rectangle">
              <table>
                <tr>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/Xyp9x.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/dupreeh.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/gla1ve.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/device.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/Magisk.jpeg")  }}></th>
                </tr>
                <tr>
                  <th>{{p["one"]}}</th>
                  <th>{{p["two"]}}</th>
                  <th>{{p["three"]}}</th>
                  <th>{{p["four"]}}</th>
                  <th>{{p["five"]}}</th>
                </tr>
              </table>
           </div>
          </p>
          {% endfor %}
        {% elif o["team"] == "mousesports" %}
          {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/mouzlogo.png")  }}> ({{ o["points"] }} points)
          {% for p in o["players"] %}
          <hr>
          <p>
            <div class="rectangle">
              <table>
                <tr>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/oskar.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/chrisj.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/sunny.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/styko.jpeg")  }}></th>
                  <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/ropz.jpeg")  }}></th>
                </tr>
                <tr>
                  <th>{{p["one"]}}</th>
                  <th>{{p["two"]}}</th>
                  <th>{{p["three"]}}</th>
                  <th>{{p["four"]}}</th>
                  <th>{{p["five"]}}</th>
                </tr>
              </table>
           </div>
          </p>
          {% endfor %}
      </p>
      {% elif o["team"] == "MIBR" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/MIBR.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/fallen.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/tarik.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/fer.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/stewie.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/cold.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "NiP" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/nip.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/forest.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/get_right.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/dennis.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/lekro.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/rez.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "NRG" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/NRG.jpg")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/daps.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/fugly.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/brehze.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/nathE.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/cerq.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "North" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/North.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/cadian.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/aizy.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/kjaerbye.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/gade.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/valde.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "fnatic" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/fnatic.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/xizt.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/jw.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/twist.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/krimz.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/brollan.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "LDLC" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/LDLC.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/to1nou.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/alex.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/amanek.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/devoduvek.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/logan.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "OpTic" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/optic.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/snappi.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/cajunb.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/jugi.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/konfig.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/badniko.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "ENCE" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/ENCE.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/ange1.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/hobbit.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/woxic.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/deadfox.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/issaa.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "HellRaisers" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/HR.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/ange1.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/hobbit.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/woxic.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/deadfox.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/issaa.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "compLexity" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/COL.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/shahzam.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/dephh.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/stanisalw.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/yay.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/android.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "AVANGAR" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/Avangar.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/fitch.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/buster.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/krizzen.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/qikert.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/jame.jpeg")  }}></th>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "Vega Squadron" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/vega.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/tonyblack.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/chopper.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/jr.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/hutji.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/crush.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "Heroic" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/Heroic.jpg")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/moddii.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/friberg.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/acilion.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/es3tag.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/mertz.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% elif o["team"] == "G2" %}
        {{ o["pos"] }}: {{o["team"]}} <img class="dImg" width="50" height="50" src={{ url_for('static', filename="pictures/G2.png")  }}> ({{ o["points"] }} points)
        {% for p in o["players"] %}
        <hr>
        <p>
          <div class="rectangle">
            <table>
              <tr>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/shox.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/ex6tenz.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/kennyS.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/smithzz.jpeg")  }}></th>
                <th><img class="dImg" width="100" height="100" src={{ url_for('static', filename="pictures/bodyy.jpeg")  }}></th>
              </tr>
              <tr>
                <th>{{p["one"]}}</th>
                <th>{{p["two"]}}</th>
                <th>{{p["three"]}}</th>
                <th>{{p["four"]}}</th>
                <th>{{p["five"]}}</th>
              </tr>
            </table>
         </div>
        </p>
        {% endfor %}
      {% endif %}
      {% endfor %}
    {% endblock %}
    </div>
    <div class="column">
    </div>
  </div>

</body>
</html>
